.about {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 0;
  justify-self: center;
}

.about__container {
  background:var(--background-secondary);
  border-radius: 16px;
  padding: 2.5rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 96%;
  margin: 0 auto;
}

.about__container p {
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.8;
  color: var(--text-primary);
  text-align: justify;
  max-width: 800px;

}

.about__container p:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .about {
    padding: 1rem;
  }

  .about__container {
    padding: 1 1rem;
  }

  .about__container p {
    font-size: 1rem;
    line-height: 1.6;
  }
}
