.services__note-subtitle {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 1.1em;
}

.services {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 0;
  background: linear-gradient(180deg, var(--background-primary) 0%, var(--background-secondary) 100%);
}

.services__header {
  text-align: center;
  margin-bottom: 3rem;
  padding: 2.5rem;
  border-radius: 16px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.services__header h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: var(--text-primary);
  margin-bottom: 3rem;
  position: relative;
  padding-bottom: 1rem;
}

.services__header h2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 3px;
  background-color: var(--accent-primary);
}

.services__header p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: var(--text-secondary);
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  text-align: justify;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 0 2rem;
}

.services__card {
  border-radius: 16px;
  padding: 2.5rem;
  transition: all 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.services__card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: var(--text-primary);
}

.services__card p {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  line-height: 1.8;
  color: var(--text-secondary);
  text-align: justify;
}

@media (max-width: 1024px) {
  .services__grid {
    gap: 2rem;
    padding: 0 1.5rem;
  }
}

@media (max-width: 768px) {
  .services {
    padding: 2rem 0;
  }

  .services__header {
    padding: 1 1rem;
    max-width: 90%;
    font-size: 1rem;
  }

  .services__header p {
    font-size: 1rem;
  }

  .services__header h1 {
    font-size: 2rem;
  }

  .services__grid {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1 1rem;
  }

  .services__card {
    padding: 2rem;
  }

  .services__card h3 {
    font-size: 1.25rem;
  }

  .services__card p {
    font-size: 1rem;
    line-height: 1.6;
  }
}
