* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root[data-theme="light"] {
  --text-primary: #000000;
  --text-secondary: rgba(0, 0, 0, 0.7);
  --background-primary: #ffffff;
  --background-secondary: #f9f9f9;
  --accent-primary: #ffc200;
  --accent-secondary: #ffd700;
  --border-color: rgba(0, 0, 0, 0.1);
}

:root[data-theme="dark"] {
  --text-primary: rgba(255, 255, 255, 0.87);
  --text-secondary: rgba(255, 255, 255, 0.6);
  --background-primary: #000000;
  --background-secondary: #1a1a1a;
  --accent-primary: #ffc200;
  --accent-secondary: #ffd700;
  --border-color: rgba(255, 255, 255, 0.1);
}

a {
  font-weight: 500;
  color: var(--accent-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent-primary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  overflow-x: hidden;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--text-primary);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background-secondary);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--accent-primary);

}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-primary);
    background-color: var(--background-primary);
  }
  a:hover {
    color: var(--accent-primary);
  }
  button {
    background-color: #f9f9f9;
  }
}
